<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Contact Manager</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background: grey;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 data-th-text="${name}">Welcome to home page</h1>
        <p>Git Repository : <span data-th-text="${gitRepo}"></span></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus repudiandae illo dolor sequi consequatur sunt animi, ipsum quod amet aperiam soluta similique alias corporis quaerat dignissimos dolorum harum. Obcaecati, sed saepe voluptas itaque dolorum commodi iste hic consequuntur cumque similique ipsam quia ab esse corrupti fuga iure omnis iusto ullam.</p>
    </div>
</body>
</html> 